/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties
/server
/elasticsearch
/*.iml
/.idea
/.project
/.classpath
/.settings
.DS_Store
*~
.*~
!/src/test/java/com/amazon/janusgraph/diskstorage/dynamodb/