language: java
sudo: required
dist: trusty
jdk:
  - oraclejdk8
before_install:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
cache:
  directories:
    - "${HOME}/.m2"
    - "${HOME}/.local"
env:
  matrix:
  #41 minutes
    - MODULE="MultiStoreTest" CATEGORY="MultiDynamoDBStoreTestCategory"
  #24 minutes
    - MODULE="SingleStoreTest" CATEGORY="SingleDynamoDBStoreTestCategory"
  #23 minutes
    - MODULE="SingleGraphTest" CATEGORY="SingleDynamoDBGraphTestCategory"
  #23 minutes
    - MODULE="MultiVertexCentricQuery" CATEGORY="IsolateMultiVertexCentricQuery"
  #19 minutes
    - MODULE="MultiGraphTest" CATEGORY="MultiDynamoDBGraphTestCategory"
    - MODULE="SingleOLAPTest" CATEGORY="SingleDynamoDBOLAPTestCategory"
  #17 minutes
    - MODULE="MultiLargeJointIndexRetrieval" CATEGORY="IsolateMultiLargeJointIndexRetrieval"
  #17 minutes
    - MODULE="MultiOLAPTest" CATEGORY="MultiDynamoDBOLAPTestCategory"
  #12.3 minutes
    - MODULE="MultiEdgesExceedCacheSize" CATEGORY="IsolateMultiEdgesExceedCacheSize"
  #12 minutes
    - MODULE="SingleIdAuthorityLogStore" CATEGORY="SingleIdAuthorityLogLockStoreCategory"
  #11 minutes
    - MODULE="MultiIdAuthorityLogStore" CATEGORY="MultiIdAuthorityLogLockStoreCategory"
  #9.5 minutes
    - MODULE="MultiConcurrentGetSliceAndMutate" CATEGORY="IsolateMultiConcurrentGetSliceAndMutate"
  #7.2 minutes
    - MODULE="SingleConcurrentGetSliceAndMutate" CATEGORY="IsolateSingleConcurrentGetSliceAndMutate"
  #7 minutes
    - MODULE="MultiConcurrentGetSlice" CATEGORY="IsolateMultiConcurrentGetSlice"
    - MODULE="SingleMultiWriteStoreTestCategory" CATEGORY="SingleDynamoDBMultiWriteStoreTestCategory"
  #6.5 minutes
    - MODULE="SingleConcurrentGetSlice" CATEGORY="IsolateSingleConcurrentGetSlice"
  #3.5 minutes
    - MODULE="MultiMultiWriteStoreTestCategory" CATEGORY="MultiDynamoDBMultiWriteStoreTestCategory"
  #3 minutes
    - MODULE="RemainingTestsCategory" CATEGORY="IsolateRemainingTestsCategory"
addons:
  apt:
    packages:
      - oracle-java8-installer
branches:
  only:
    - 1.0.0
    - master
    - locking
    - janusgraph
script:
  #build the matrix item
  - mvn install -P integration-tests -Dgroups="com.amazon.janusgraph.testcategory.${CATEGORY}" -Dinclude.category="**/*.java"
  #validating cloudformation templates requires credentials. This will be a manual step, unfortunately.
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-storage-backend-cfn\.yaml/'`
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-tables-single\.yaml/'`
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-tables-multiple\.yaml/'`
notifications:
  email:
    - amcp@amazon.co.jp
    - johanjcbs@gmail.com
