language: java
sudo: require

jdk:
  - oraclejdk8

cache:
  directories:
    - ${HOME}/.m2

env:
  global:
  matrix:
    - MODULE='single' CATEGORY="com.amazon.titan.testcategory.SingleItemTestCategory"
    - MODULE='multiple' CATEGORY="com.amazon.titan.testcategory.MultipleItemTestCategory"

    - MODULE='MultiDynamoDBOLAPTest' CATEGORY="com.amazon.titan.testcategory.MultiDynamoDBOLAPTestCategory"
    - MODULE='MultiDynamoDBStoreTest' CATEGORY="com.amazon.titan.testcategory.MultiDynamoDBStoreTestCategory"
    - MODULE='SingleDynamoDBGraphTest' CATEGORY="com.amazon.titan.testcategory.SingleDynamoDBGraphTestCategory"
    - MODULE='SingleDynamoDBOLAPTest' CATEGORY="com.amazon.titan.testcategory.SingleDynamoDBOLAPTestCategory"
    - MODULE='SingleDynamoDBStoreTest' CATEGORY="com.amazon.titan.testcategory.SingleDynamoDBStoreTestCategory"



#TODO check if sqlite lib is needed
addons:
  apt:
    packages:
      - oracle-java8-installer

branches:
  only:
    - 1.0.0
    - locking
    - ttl
    - travis_ci_build_fixes

script:
  - mvn install -P integration-tests -Dgroups=${CATEGORY} -Dinclude.category="**/*.java"
  - bash src/test/resources/install-gremlin-server.sh

notifications:
  email:
    - johan@nichestreem.com
