language: java
sudo: required
dist: trusty
jdk:
  - oraclejdk8
cache:
  directories:
    - "${HOME}/.m2"
env:
  matrix:
  #32 minutes
    - MODULE="MultiStoreTest" CATEGORY="MultiDynamoDBStoreTestCategory"
  #22 minutes
    - MODULE="MultiVertexCentricQuery" CATEGORY="IsolateMultiVertexCentricQuery"
  #17.5 minutes
    - MODULE="SingleGraphTest" CATEGORY="SingleDynamoDBGraphTestCategory"
  #17.3 minutes
    - MODULE="SingleStoreTest" CATEGORY="SingleDynamoDBStoreTestCategory"
  #16.5 minutes
    - MODULE="MultiLargeJointIndexRetrieval" CATEGORY="IsolateMultiLargeJointIndexRetrieval"
  #15.7 minutes
    - MODULE="MultiOLAPTest" CATEGORY="MultiDynamoDBOLAPTestCategory"
  #13.5 minutes
    - MODULE="MultiGraphTest" CATEGORY="MultiDynamoDBGraphTestCategory"
  #11.8 minutes
    - MODULE="MultiEdgesExceedCacheSize" CATEGORY="IsolateMultiEdgesExceedCacheSize"
  #12 minutes
    - MODULE="SingleIdAuthorityLogStore" CATEGORY="SingleIdAuthorityLogStoreCategory"
  #11 minutes
    - MODULE="MultiIdAuthorityLogStore" CATEGORY="MultiIdAuthorityLogStoreCategory"
  #9 minutes
    - MODULE="SingleOLAPTest" CATEGORY="SingleDynamoDBOLAPTestCategory"
  #8.7 minutes
    - MODULE="MultiConcurrentGetSliceAndMutate" CATEGORY="IsolateMultiConcurrentGetSliceAndMutate"
  #8.5 minutes
    - MODULE="RemainingTestsCategory" CATEGORY="IsolateRemainingTestsCategory"
  #6.5 minutes
    - MODULE="MultiConcurrentGetSlice" CATEGORY="IsolateMultiConcurrentGetSlice"
  #6.4 minutes
    - MODULE="SingleConcurrentGetSliceAndMutate" CATEGORY="IsolateSingleConcurrentGetSliceAndMutate"
  #4.8 minutes
    - MODULE="SingleConcurrentGetSlice" CATEGORY="IsolateSingleConcurrentGetSlice"
  #3.2
    - MODULE="SingleMultiWriteStoreTestCategory" CATEGORY="SingleDynamoDBMultiWriteStoreTestCategory"
  #2.8 minutes
    - MODULE="MultiMultiWriteStoreTestCategory" CATEGORY="MultiDynamoDBMultiWriteStoreTestCategory"
  #To be added
    - MODULE="GraphSimpleLogTest" CATEGORY="GraphSimpleLogTestCategory"
addons:
  apt:
    packages:
      - oracle-java8-installer
branches:
  only:
    - 1.0.0
    - master
    - locking
    - janusgraph
script:
  #build the matrix item
  - mvn install -P integration-tests -Dgroups="com.amazon.janusgraph.testcategory.${CATEGORY}" -Dinclude.category="**/*.java"
  #validating cloudformation templates requires credentials. This will be a manual step, unfortunately.
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-storage-backend-cfn\.yaml/'`
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-tables-single\.yaml/'`
  #- aws cloudformation validate-template --region us-west-2 --template-body `pwd | sed -e 's/\//\/\//g' -e 's/^/file:\//' -e 's/$/\/\/dynamodb-janusgraph-tables-multiple\.yaml/'`
notifications:
  email:
    - amcp@amazon.co.jp
    - johanjcbs@gmail.com
